<!DOCTYPE html>
<html
  lang="en"
  html
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/html"
>
  <head th:replace="~{fragments/general.html :: headerfiles}">
    <title>xxx</title>
  </head>
  <body>
    <header th:replace="~{fragments/general.html :: header}"></header>

    <div class="card-container">
      <div class="card">
        <h2>numéro cni</h2>
        <span class="card-info" th:text="${account.client.id}" />
        <h2>nom</h2>
        <span class="card-info" th:text="${account.client.name}" />

      </div>

      <div class="card">
        <div class="button-group">
          <a class="btn-dark" th:href="@{/accounts/{id}/deposit (id= ${account.accountId})}">depot</a>
          <a class="btn-dark" th:href="@{/accounts/{id}/withdraw (id= ${account.accountId}) }">retrait</a>
          <a class="btn-dark" th:href="@{/accounts/{id}/transaction (id= ${account.accountId}) }">transaction</a>

        </div>
      </div>

    </div>
  </body>
</html>
