


<!DOCTYPE html>
<html
  lang="en"
  html
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/html"
>
  <head th:replace="~{fragments/general.html :: headerfiles}">
    <title>xxx</title>
  </head>
  <body>
    <header th:replace="~{fragments/general.html :: header}"></header>
    <h2> <span th:text="${user.username}" /></h2>
    <div class="card-container">
      <div class="card">
        <h2>transactions journalieres</h2>
        <span class="card-info" th:text="${user.dailyOperationCount}" />
        <h2>total transactions</h2>
        <span class="card-info" th:text="${user.operationCount}" />
      </div>

      <div class="card operation-card">
        <a class="btn-dark" href="http://localhost:8080/accounts">faire transaction</a>

      </div>
    </div>
    <h2>Recente transactions</h2>

    <div class="table">
      <table>
        <thead>
          <tr>
            <td>date</td>
            <td>operation</td>
            <td>montant</td>
            <td>comptes</td>
          </tr>
        </thead>
        <tbody>
          <tr th:each="o: ${operations}">
            <td th:text="${o.creationDate}" />
            <td th:text="${o.type}" />
            <td th:text="${o.value}" />
            <td th:text="${o.operator.accountId}" />
          </tr>
        </tbody>
      </table>
    </div>
    <th:block th:replace="~{fragments/general.html :: scripts}" />
  </body>
</html>


